
/* Dilog Box CSS */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    animation: popup 1s ease-in-out 5s forwards;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    -webkit-animation: popup 1s ease-in-out 5s forwards;
    animation: popup 1s ease-in-out 5s forwards;
  }
.modal-content {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background: var(--white);
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    z-index: 2;
    -webkit-animation: scaleUp 0.5s ease-in-out 5s forwards;
    animation: scaleUp 0.5s ease-in-out 5s forwards;
  }

  .modal-content {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background: var(--white);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    z-index: 2;
    animation: scaleUp 0.5s ease-in-out 5s forwards;
  }

  @keyframes scaleUp {

    0% { transform: scale(0.9); }
    100% { transform: scale(1); }
  
  }

  .modal-content {
    display: flex;
    align-items: center;
    max-width: 750px;
    width: fit-content;
  }
